.fondo {
    background-image: url("../../assets/anime-girl3.jpg");
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    background-color: black;
    width: 100vw;
    height: 100vh;
    background-attachment: fixed;
    
  }
  .flex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    /* position: absolute; */
    height: 400px ;

}
h1{
    font-size: 50px;
    font-family: monospace;
    color: aliceblue;
    /* text-shadow: 0px 3px 11px #d2dff5; */
    -webkit-text-stroke: 3px rgb(168, 5, 5);
    text-shadow: 
    0 0 5px rgb(255 240 243),
    0 0 7px rgb(255 204 213),
    0 0 10px rgb(255 179 193),
    0 0 12px rgb(255 143 163),
    0 0 14px rgb(255 117 143),
    0 0 16px rgb(255 77 109);



}
.alig{
/* text-align: justify; */
margin-left: -750px;
margin-bottom: 60px;
}
.boton {
width: 140px;
height: 50px;
font-size: 45px;
text-shadow: #d2dff5;
cursor: pointer;
border: none;
outline: none;
background: transparent;
color: rgb(189, 238, 13);
font-family: monospace;
font-weight: 700;
position: absolute;
transition: all 0.5s;
z-index: 1;
margin-top: 80px;
margin-left: -150px;
}

.boton::before {
content: "";
position: absolute;
top: 0;
left: 0;
width: 5px;
height: 100%;
background-color: rgb(124, 31, 31);
z-index: -1;
transition: all 0.5s;
}

.boton:hover::before {
width: 100%;
}

button:hover {
color: rgb(248, 237, 237);
}

button:active:before {
background: #4ea0a3;
}